.home{
    /* background:#1A3263; */
  background: url('../images//bg4.svg') #2b193d;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
  background-attachment: fixed;
  height: 80vh;
  display: flex;
  animation: scaleup 2.25s ease-in-out, fadein 2.25s ease-in-out 0s 1;
}

.home__top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 30px;
}
.home__h2{
  color: #c5979d;
  font-weight: 600;
  font-size: 5rem;
}
.home__h2 > span{
  color: #484d6d;
  animation: slideright 2.25s ease-in-out, fadein 2.25s ease-in-out 0s 1;
}
.home__h1{
  color: #c5979d;
  font-weight: 600;
  font-size: 4.5rem;
  animation: slideright 2.25s ease-in-out, fadein 2.25s ease-in-out 0s 1;
}
.home__image{
  width: 750px;
  height: 350px;
  object-fit: contain;
  
}

.home__typewritter{
  font-weight: 200;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #c5979d;
  letter-spacing: 5px;
}
.font{
  font-family: 'Megrim', cursive;
  color: #c5979d;
}
.home__info{
  margin-top: 30px;
  width: 40vw;
  text-align: right;
}

.home__info > p {
  letter-spacing: 2.5px;
  font-weight: 350;
  color: #4b8f8c;
  font-size: 20px;
  margin-bottom: 30px;
}

.home__btn{
  padding:10px;
  background: transparent;
  border: 1.5px solid #c5979d;
  color: #c5979d;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
}
.home__btn:hover{
  background-color: #484d6d;
  transform: scale(1.06);
  transition: 0.5s ease-in all;

}

@keyframes slideright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }

}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@media only screen and (max-width: 768px){
  .home{
    background-size: contain;
    background-attachment: fixed;
    animation: scaleup 2.25s ease-in-out, fadein 2.25s ease-in-out 0s 1;
  }

  
  
  .home__h2{
    font-size: 2.2rem;
  }
  
  .home__h1{
    font-size: 1.9rem;
  }

  .home__typewritter{
    font-size: 1.2rem;
    /* margin-bottom: 50px; */
    
  }

  .home__info{
    width: 100%;
    text-align: left;
    background-color: #2b193dd0;
  }

  .home__info > p {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c5979d;
  }
   
}